
body{
    background-color: black;
}
h1{text-transform: uppercase;
    font-size: 2rem;
    
}
p{
    color: white;
}
img{height: 600px;
width: 300px;}

.poster{
    font-family: "Libre Baskerville", serif;
  font-style: normal;
  color:white ;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  text-align: center;
}

.motivational{
    border: 5px solid white;
    width: 100%;
}